<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mastersuit">
    <test name="test1">
        <parameter name="browser" value="chrome"/>
        <classes>
<!--            <class name="TestCases.TC001_RegisterAccount"/>-->
            <class name="TestCases.TC003_LoginDDT"/>
        </classes>
    </test>
</suite>